language : node_js
node_js:
  - 6
script:
  - echo "Deploying!"
  - npm --version
install :
  - npm install -g firebase-tools
  - npm install -g require
after_success:
  - firebase deploy --token 1/CXxh4CD8cp3ikJknI7niZ0jP_tgbI9ia5KHQcmRESdA
